@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-image: url(/public/20988.jpg);
  background-repeat: no-repeat; */
}

.login-and-signup-page {
  /* background-image: url(/public/20988.jpg);
  background-repeat: no-repeat; */
  /* background-color: #efddb8;
  background-size: cover; */
}

.header {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,230,181,1) 100%);
}

th, td {
  padding-left: 2rem;
  padding-right: 2rem;
}

.typeTitle {
  color: orange;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.changeTypeButton {
  border-width: 2px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

.changeTypeButton:hover {
  background-color: #FFF8CC;
}

.selectedButton {
  background-color: #F7E469;
}

.filterButton {
  border-width: 2px;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.selectedFilter {
  background-color:rgb(216, 230, 243);
}

.dropdowns-category {
  display: none;
}

.nameTag-dropdown:hover .dropdowns-category {
  display: block;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

input {
  padding-left: 1rem;
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
}

.log-button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.log-button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}



